<div class="list-group">
  <div class="list-group-item">General</div>
  <a href="/docs/v1/general/changelog" class="list-group-item list-group-item-action small">Changelog</a>
</div>

<div class="list-group mt-2">
  <div class="list-group-item">Setup</div>
  <a href="/docs/v1/setup/" class="list-group-item list-group-item-action small">Setup with Docker</a>
  <a href="/docs/v1/setup/setup-without-docker" class="list-group-item list-group-item-action small">Setup without Docker</a>
</div>

<div class="list-group mt-2">
  <div class="list-group-item">Application</div>
  <a href="/docs/v1/application/" class="list-group-item list-group-item-action small">General</a>
  <a href="/docs/v1/application/dashboard" class="list-group-item list-group-item-action small">Dashboard</a>
  <a href="/docs/v1/application/links" class="list-group-item list-group-item-action small">Links / Bookmarks</a>
  <a href="/docs/v1/application/tags" class="list-group-item list-group-item-action small">Tags</a>
  <a href="/docs/v1/application/categories" class="list-group-item list-group-item-action small">Categories</a>
  <a href="/docs/v1/application/search" class="list-group-item list-group-item-action small">Search</a>
  <a href="/docs/v1/application/trash" class="list-group-item list-group-item-action small">Trash</a>
</div>

<div class="list-group mt-2">
  <div class="list-group-item">Configuration</div>
  <a href="/docs/v1/configuration/" class="list-group-item list-group-item-action small">General</a>
  <a href="/docs/v1/configuration/system-settings" class="list-group-item list-group-item-action small">System Settings</a>
  <a href="/docs/v1/configuration/user-settings" class="list-group-item list-group-item-action small">User Settings</a>
</div>
